{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Board</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{% static 'kanban/styles.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script>
        htmx.onLoad(function(content) {
            var sortables = content.querySelectorAll(".sortable");
            for (var i = 0; i < sortables.length; i++) {
                var sortable = sortables[i];
                var sortableInstance = new Sortable(sortable, {
                    animation: 150,
                    ghostClass: 'bg-amber-200',
                    group: {
                        name: 'shared',
                        put: (to) => {
                            var targetBoard = to.el.closest('.board');
                            var wipLimit = parseInt(targetBoard.dataset.wipLimit);
                            if (wipLimit === 0) return true;
                            var issuesCount = to.el.children.length;
                            return issuesCount < wipLimit;
                        }
                    },
                    onStart: function (evt) {
                        evt.item.classList.add('cursor-grabbing');
                        evt.item.classList.remove('cursor-grab');
                    },
                    onEnd: function (evt) {
                        evt.item.classList.remove('cursor-grabbing');
                        evt.item.classList.add('cursor-grab');
                        if (evt.from === evt.to) return;
                        htmx.trigger(evt.item.closest('form'), 'end');
                    }
                });

                sortable.addEventListener("htmx:afterSwap", function() {
                    sortableInstance.option("disabled", false);
                });
            }
        });
    </script>
</head>
<body class="p-5 bg-gray-100">
    <h1 class="text-3xl font-bold mb-5">Kanban Board</h1>
    <div class="flex space-x-4">
        {% for board in boards %}
        <div class="w-1/3 bg-gray-200 p-3 rounded shadow relative board" data-board-id="{{ board.id }}" data-wip-limit="{{ board.wip_limit }}">
            {% if board.wip_limit > 0 %}
            <div class="size-16 bg-black text-white rounded-md p-4 text-center text-lg font-semibold absolute -top-8 inset-x-1/2 transform -translate-x-1/2">
                {{ board.wip_limit }}
            </div>
            {% endif %}
            <h2 class="text-2xl font-semibold mb-3">
                {{ board.name }}
            </h2>
            <form method="post" hx-post="{% url 'reorder_issues' %}" hx-trigger="end" hx-swap="none">
                {% csrf_token %}
                <input type="hidden" name="board_id" value="{{ board.id }}">
                <ul class="sortable w-full h-full list-none mb-0 p-0 overflow-x-hidden overflow-y-auto">
                    {% include "kanban/issues_partial.html" with board_issues=board.board_issues.all|slice:":10" board_id=board.id page=1 %}
                </ul>
            </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>

